<!DOCTYPE html>

<html>

    <head>

        <title>Chowhowse.com</title>

        <link rel="stylesheet" type="text/css" href="../style.css">
                    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="noarchive"/>
        <meta name="keywords" content=""/>
        <meta name="description" content="Personal website of Erik Letson"/>

    </head>

    <body>

        <div id="page-container">
           
            <div id="header-container">
                
                <div id="banner-section">

                    <h1 align="center" class="title">Chowhowse</h1>

                </div>

                <div id="langbanner-section">

                    <p align="left" class="lang"><b>
                       
                        <u class="langtitle">Language:</u>
                        <span id="curlang">en</span>
                        <a class="langlink" href="../eo/home.html">eo</a>
                        <a class="langlink" href="../es/home.html">es</a>
                        <a class="langlink" href="../jp/home.html">jp</a>
                    
                    </b></p>

                </div>

            </div>

            <div id="column-container">
                                                                                                                                     
                <div id="main-content">

                    <h1 align="center">Template 1</h1>

                    <br/>

                    <p>
                        Template paragraph 1. This paragraph is simply meant to demonstrate the look and feel of this template webpage. This
                        paragraph text can be changed to anything else as needed. This is, after all, just a template. Repeat: JUST A SIMPLE
                        TEMPLATE!
                    </p>

                    <br/>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                    <br/>

                    <p>
                        Blah blah yadda yadda blah blah blah. Blah blah blah blah. Yadda yadda blah blah yadda yadda yadda. Blah. Blah blah
                        blah blah blah. Blah blah. Yadda yadda. Blah yadda yadda blah blah. Blah blah blah blah blah blah blah yadda yadda
                        blah. Blah blah.
                    </p>
                        
                    <br/>

                    <p>
                        This is another paragraph of arbitrary length.
                    </p>

                    <br/>

                    <p>
                        Blah blah yadda yadda blah blah blah. Blah blah blah blah. Yadda yadda blah blah yadda yadda yadda. Blah. Blah blah
                        blah blah blah. Blah blah. Yadda yadda. Blah yadda yadda blah blah. Blah blah blah blah blah blah blah yadda yadda
                        blah. Blah blah.
                    </p>
                        
                    <br/>

                </div>

                <div id="right-sidebar">

                    <h2>Links</h2>

                    <br/>

                    <p align="left"><a href="articles/by-topic.html">Articles Organized by Topic </a></p>

                    <br/>

                    <p align="left"><a href="articles/by-date.html">Articles Organized by Date</a></p>

                    <br/>

                    <p align="left"><a href="images.html">My Photographs and Images</a></p>

                    <br/>

                    <p align="left"><a href="external-links.html">External Links</a></p>

                    <br/>

                </div>

            </div>

            <div id="footer-container">

                <div id="top-footer">

                    <p><span id="copyright">Copyright (c) 2017 Erik Letson, all rights reserved. The text of this page is licensed under the terms of
                        the CC-BY-SA License 4.0.
                        <a href="https://creativecommons.org/licenses/by-sa/4.0/">More info here</a>
                        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                            <img alt="Creative Commons License" align="right" src="../images/cc-by-sa-button.png" />
                        </a>
                    </span></p>

                </div>

                <div id="bottom-footer">

                    <p>

                        <a class="navlink" href="http://chowhowse.com/en/home.html">Home</a>
                        <a class="navlink" href="http://chowhowse.com/en/about.html">About</a>
                        <a class="navlink" href="http://chowhowse.com/en/contact.html">Contact</a>

                    </p>

                </div>
            
            </div>

    </body>

</html>
